body{
background-image: url(http://wallpapercave.com/wp/pEeUsp1.jpg);
  font-family: 'Space Mono', monospace;

}

h1,p{
  color: white;
}

h1{
  font-family: 'Nova Mono', monospace;
color: royalblue;
}
